<% content_for :title, "Editing Customer" %>

<h1>Editing Customer</h1>

<%= render "form", customer: @customer %>

<div class="actions">
  <%= link_to "Show this customer", @customer, class: "btn btn-info" %> |
  <%= link_to "Back to Customers", customers_path, class: "btn btn-secondary" %>
</div>
