<p style="color: green"><%= notice %></p>

<% content_for :title, "Customers" %>

<h1>Customers</h1>

<div id="customers">
  <% @customers.each do |customer| %>
    <div class="customer-card">
      <%= render customer %>
      <div class="customer-actions">
        <%= link_to "Show this customer", customer, class: "btn btn-info" %>
      </div>
    </div>
  <% end %>
</div>

<div class="new-customer">
  <%= link_to "New customer", new_customer_path, class: "btn btn-primary" %>
</div>
