<% content_for :title, "New customer" %>

<h1>New Customer</h1>

<%= render "form", customer: @customer %>

<div class="back-link">
  <%= link_to "Back to customers", customers_path, class: "btn btn-secondary" %>
</div>
