<h1>Your Orders</h1>

<% if @orders.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Total Price</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td>$<%= order.total_price %></td>
          <td><%= order.created_at.strftime("%B %d, %Y") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>You have no orders.</p>
<% end %>
