<%= content_for :title, "About Us" %>

<main>
  <header>
    <h1>About Us</h1>
  </header>

  <section>
    <p>We are a company that specializes in high-quality volleyball equipment. Our mission is to provide athletes with top-tier gear that enhances their performance, whether they're beginners or professionals. We source our products from trusted suppliers to ensure durability and quality, offering a range of volleyball accessories to meet every player's needs.</p>
    
    <p>At Verbose Volley, we believe in delivering exceptional customer service and providing expert advice to help players find the perfect equipment. Our goal is to become a global leader in the volleyball equipment industry, known for quality, affordability, and customer satisfaction.</p>
  </section>
</main>
