<%= content_for :title, "Contact Us" %>

<main>
  <header>
    <h1>Contact Us</h1>
  </header>

  <section>
    <p>If you have any questions or inquiries, feel free to reach out to us:</p>
    <p>
      <a href="mailto:jmendoza5@academic.rrc.com">Email us at contact</a>
    </p>
  </section>
</main>
