<!-- app/views/products/show.html.erb -->
<h1><%= @product.product_name %></h1>
<p><%= number_to_currency(@product.price) %></p>
<p><%= @product.description %></p>

<%= image_tag url_for(@product.image) if @product.image.attached? %>
