<!-- app/views/shared/_customer_form.html.erb -->
<div class="field">
  <%= f.label :customer_name %><br />
  <%= f.text_field :customer_name %>
</div>

<div class="field">
  <%= f.label :phone_number %><br />
  <%= f.telephone_field :phone_number %>
</div>
